<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <title>Challenge Details</title>
    {% load static %}
</head>

<body>
    <a href="/challenges"><i class="bi-arrow-left-circle" style="font-size: 2rem; color: black"></i></a>
    <h1>{{one_challenge.name}}</h1>
    <p>Description: {{one_challenge.description}}</p>
    <p>Target Area: {{one_challenge.target_area}}</p>
    <p>Starting At: {{one_challenge.starting_at}}</p>
    <p>Daily Increase: {{one_challenge.daily_increase}}</p>
    <p>Max Reps: {{one_challenge.max_reps}}</p>
    <table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for idx in data %}
            <tr>
                <td>{{forloop.counter}} {{idx}} {{one_challenge.unit_measure}}</td>
                {{data[idx]|add:"1"}}
                <td>{{forloop.counter}} {{idx}} {{one_challenge.unit_measure}}</td>

            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <a href="/users/logout">Logout</a>
</body>

</html>