<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Details</title>
</head>
<body>
    <a href="/challenges">Go Back</a>
    <h1>{{one_challenge.name}}</h1>
    <p>Description: {{one_challenge.description}}</p>
    <p>Target Area: {{one_challenge.target_area}}</p>
    <p>Starting At: {{one_challenge.starting_at}}</p>
    <p>Daily Increase: {{one_challenge.daily_increase}}</p>
    <p>Max Reps: {{one_challenge.max_reps}}</p>
    <a href="/users/logout">Logout</a>
</body>
</html>