<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Challenge Details</title>
    {% load static %}
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <h2 class="navbar-brand">Challenge Accepted</h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/main_page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/challenges">Challenges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="/users/profile/{{current_user.id}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/users/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 3%;">
        <h1 style="margin-bottom: 3%"><a href="/challenges"><i class="bi-arrow-left-circle" style="font-size: 2rem; color: black"></i></a>
            {{one_challenge.name}}</h1>
        <p><span style="font-weight: bold; font-size: larger;">Description: </span>{{one_challenge.description}}</p>
        <p><span style="font-weight: bold; font-size: larger;">Target Area: </span>{{one_challenge.target_area}}</p>
        <p><span style="font-weight: bold; font-size: larger;">Starting At: </span>{{one_challenge.starting_at}} {{one_challenge.unit_measure}}</p>
        <p><span style="font-weight: bold; font-size: larger;">Daily Increase: </span>{{one_challenge.daily_increase}} {{one_challenge.unit_measure}}</p>
        <p><span style="font-weight: bold; font-size: larger;">Max Reps: </span>{{one_challenge.max_reps}} {{one_challenge.unit_measure}}</p>
        <form action="/challenges/accept/{{one_challenge.id}}" method="POST" style="padding-bottom: 3%;">
            {% csrf_token %}
            <button class="btn btn-primary btn-md" id="accept_challenge" type="submit" value="Accept Challenge"
                style="border-radius: 5%; box-shadow: 2px 3px black;">Accept Challenge</button>
        </form>
        <form action="/challenges/complete/{{one_challenge.id}}" method="POST" style="padding-bottom: 3%;">
            {% csrf_token %}
            <button class="btn btn-primary btn-md"  type="submit" value="Challenge Complete!"
                style="border-radius: 5%; box-shadow: 2px 3px black;">Challenge Complete!</button>
        </form>
    </div>
    <div class="container" style="border: 1px solid lightgrey;">
        <div class="row row-cols-7 w-100" style="padding: 1.25000em;">
            <table>
                {% for idx in data %}
                <div class="col">
                    <ul style="list-style-type: none;">
                        <li><span style="font-weight: bold;">Day {{forloop.counter}}:</span> {{idx}} {{one_challenge.unit_measure}}</td>
                            <label><input class="form-check-input" type="checkbox" name="done" value="Done"></label>

                        <hr>
                    </ul>
                </div>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- <script>
        // TRYING TO GET CHECKBOX TO STAY CHECKED
        $('.form-check-input').click(function(){
            console.log("click registered")
            $.ajax({
                url: "/checked_box",
                method: "get",
                // data: { 'challenge_search': challenge_search, 'csrfmiddlewaretoken': csrf },
                success: function (serverResponse) {
                    $('.form-check-input').html(serverResponse);
                    console.log("You did something right")
                }
            })
        })
        
    </script> -->
</body>

</html>