<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Challenges</title>
</head>

<body>
    <a href="/users/logout">Logout</a>
    <a href="/main_page"><img src="challenges_app/images/home_icon.png" alt="Home"></a>
    <a href="/users/profile/{{current_user.id}}"><img src="challenges_app/images/user_icon.png" alt="User Profile"></a>
    <form id="challenge_search" method="POST">
        {% csrf_token %}
        <input id = "searchbar" type="text" name="search">
    </form>
    <p id="csrf" csrf={{csrf_token}}></p>
    <div id="search_results"></div>
    <!-- <img src="challenges_app/images/static_plank.jpg" alt="static plank"> -->
    {% for challenge in all_challenges %}
    <h3>{{challenge.name}}</h3>
    <p>Target Area: {{challenge.target_area}}</p>
    <p>Starting At: {{challenge.starting_at}}</p>
    <p>Daily Increase: {{challenge.daily_increase}}</p>
    <p>Max Reps: {{challenge.max_reps}}</p>
    <p><a href="/challenges/details/{{challenge.id}}">View Challenge Details</a></p>
    <p>
    <form action="challenges/accept/{{challenge.id}}" method="POST">
        {% csrf_token %}
        <button id="accept_challenge" type="submit" value="Accept Challenge">Accept Challenge</button>
    </form>
    </p>
    <hr>
    {% endfor %}
    <script>
        $('#accept_challenge').click(function(){
            $('#accept_challenge').html("<p>Challenge Accepted</p>");
        })
        $('#challenge_search').keyup(function () {
            var challenge_search= $('#searchbar').val()
            var csrf = $('#csrf').attr("csrf")
            // console.log(user_search)
            $.ajax({
                url: "/challenge_search",
                method: "post",
                data: { 'challenge_search': challenge_search, 'csrfmiddlewaretoken': csrf },
                success: function (serverResponse) {
                    console.log("This is the server's response:" + serverResponse);
                    $('#search_results').html(serverResponse);
                }
            })
        })

    </script>
</body>

</html>