<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <a href="/users/profile/{{current_user.id}}">Go Back</a>
    <h1>What's New?</h1>
    <img src="challenges_app/images/user_icon.png" alt="user icon">
    <!-- <a href="#">Change Picture</a> -->
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action = "/users/profile/{{current_user.id}}/edit" method = "POST">
        {% csrf_token %}
        <label>First Name<input type = text name = 'first_name' placeholder = "{{current_user.first_name}}"></label>
        <label>Last Name<input type = text name = 'last_name' placeholder = "{{current_user.last_name}}"></label>
        <label>Email<input type = text name = 'email' placeholder = "{{current_user.email}}"></label>
        <label>Age<input type = text name = 'age' placeholder = "{{current_user.age}}"></label>
        <label>Location<input type = text name = 'location' placeholder = "{{current_user.location}}"></label>
        <label>Fitness Goals<input type = text name = 'goals' placeholder = "{{current_user.goals}}"></label>
        <label>Motivating Quote<input type = text name = 'quote' placeholder = "{{current_user.quote}}"></label>
        <button type = "submit" value ="Update Profile">Update Profile</button>
    </form>
    <a href="/users/logout">Logout</a>
</body>
</html>