<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_login_register.css' %}">

</head>

<body>
    <div id="register">
        <h1>Create a new account</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/users/create_user" method="POST">
            {% csrf_token %}
            <label>First Name  <input type=text name="first_name"></label>
            <label>Last Name  <input type=text name="last_name"></label>
            <label>Email  <input type=text name="email"></label>
            <label>Password  <input type=password name="password"></label>
            <label>Re-enter Password  <input type=password name="password_conf"></label>
            <button type="submit" value="Create Account">Create Account</button>
        </form>
    </div>
    <a href="/">Go Back</a>
</body>

</html>