*{
    margin: 0;
    padding: 0;
}
.header ul{ 
    list-style-type:none;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    /* vertical-align: left; */
    font-size: 14pt;
}

.header ul li a{
    text-decoration:none;
}

button{
    box-shadow: 2px 3px black;
    text-align: center;
    padding: 2px 4px;
    border: 1px solid black;
}

.error{
    color: red;
}

.success{
    color: green;
}

#main_page_container{
    position: relative;
    max-width: 60%; 
    max-height: 60%;
    padding-top: 6%; 
    padding-bottom: 6%; 
    margin-top: 3%;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

#main_page_container::before{
    content: "";
    background-image: url("/static/images/C_A_background_image.jpg");
    filter: grayscale(100%);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.5;
}
#black_text{
    position: relative;
    color: black;
    text-align: center;

}


.form-group{
    padding-bottom: 1%;
}

.form-group input{
    align-items: left;
}